# folders
libraries/
.vscode/
build/
*Profiles/
data_collection/
FLAME2023/
__pycache__/
DLmodel/inferno
DLmodel/emoca
DLmodel/MICA

# file types
*.csv
*.wav
*.zip
*.png
*.tar
*.mp4

# files
.DS_Store
